{%load static%}

<div class="row" style = "padding: 10px;" id="combo">
    <div class="col-6">    
    <form method="GET" action="{%url 'index'%}" >
      <select name="Segmento" class="form-select " style="margin-bottom: 30px;" onchange="this.form.submit()">
    
        <option value="Segmento" {% if segmento_filtro == 'Segmento'%} selected {%endif%}>
          Segmento
        </option>
        {% for segmento in segmentos %}
        
        <option value={{segmento.nombre}} {% if segmento_filtro == segmento.nombre%} selected {%endif%}>

        {{segmento.nombre}}
        </option>
        {% endfor %}

      </select>

  </div>
    <div class="col-6">    
     
        <select name="Tipo" class="form-select " style="margin-bottom: 30px;" onchange="this.form.submit()">
      
          <option value="Tipo" {% if evento_filtro == 'Tipo' %} selected {%endif%}>
            Tipo
          </option>
          {% for evento in eventos %}
          
          <option value={{evento.tipo}} {% if evento_filtro == evento.titulo%} selected {%endif%}>
  
          {{evento.titulo}}
          </option>
          {% endfor %}
        </select>
     
    </div>
    
  </form>
</div>

<!-- ACTIVIDADES -->
<div class="row" style="padding-top: 10px;">
<h1 style="text-align: center;" class="border">ACTIVIDADES</h1>
</div>
<div class="row" style="padding-top: 5px;">

<div class="col-2 border">Hito</div>
<div class="col-2 border">Fecha Inicio</div>
<div class="col-2 border">Fecha Termino</div>
<div class="col-3 border">Tipo</div>
<div class="col-3 border">Segmento</div>

</div>
<!--aqui abajo va a tener que haber un for en el futuro-->
{% for evento in eventos  %}

<div class="row" style="padding-top: 2px;">

    <div class="col-2 border">{{evento.titulo}}</div>
    <div class="col-2 border">{{evento.fecha_inicio}}</div>
    <div class="col-2 border">{{evento.fecha_termino}}</div>
    <div class="col-3 border">{{evento.tipo}}</div>
    <div class="col-3 border">
      {% for segmento in evento.segmento.all  %}
      {{segmento}},
      {% endfor %}
    </div>
    
</div>

{% endfor %}
</div>

