{%load static%}

<div class="row" style = "padding: 10px;" id="combo">
    <div class="col-6">    
    <form method="GET" >
      <select name="Entidad" class="form-select " style="margin-bottom: 30px;" >
    
        <option value="Segmento" selected>
          Segmento
        </option>
    
      </select>
        
      
    </form>
    </div>
       
    <div class="col-6">    
        <form method="GET" >
          <select name="Entidad" class="form-select " style="margin-bottom: 30px;" >
        
            <option value="Tipos" selected>
              Tipos
            </option>
        
          </select>
            
          
        </form>
        </div>
</div>
<div class="row" style="padding-top: 10px;">
<h1 style="text-align: center;" class="border">ACTIVIDADES</h1>
</div>
<div class="row" style="padding-top: 5px;">

<div class="col-3 border">Hito</div>
<div class="col-1 border">FechaInicio</div>
<div class="col-2 border">FechaTermino</div>
<div class="col-3 border">Tipo</div>
<div class="col-3 border">Segmento</div>

</div>
<!--aqui abajo va a tener que haber un for en el futuro-->
<div class="row" style="padding-top: 2px;">

    <div class="col-3 border">1</div>
    <div class="col-1 border">2</div>
    <div class="col-2 border">3</div>
    <div class="col-3 border">4</div>
    <div class="col-3 border">5</div>
    
</div>
<div class="row" style="padding-top: 2px;">

    <div class="col-3 border">1</div>
    <div class="col-1 border">2</div>
    <div class="col-2 border">3</div>
    <div class="col-3 border">4</div>
    <div class="col-3 border">5</div>
    
</div>
<div class="row" style="padding-top: 2px;">

    <div class="col-3 border">1</div>
    <div class="col-1 border">2</div>
    <div class="col-2 border">3</div>
    <div class="col-3 border">4</div>
    <div class="col-3 border">5</div>
    
</div>
<div class="row" style="padding-top: 2px;">

    <div class="col-3 border">1</div>
    <div class="col-1 border">2</div>
    <div class="col-2 border">3</div>
    <div class="col-3 border">4</div>
    <div class="col-3 border">5</div>
    
</div>
<div class="row" style="padding-top: 2px;">

    <div class="col-3 border">1</div>
    <div class="col-1 border">2</div>
    <div class="col-2 border">3</div>
    <div class="col-3 border">4</div>
    <div class="col-3 border">5</div>
    
</div>
<div class="row" style="padding-top: 2px;">

    <div class="col-3 border">1</div>
    <div class="col-1 border">2</div>
    <div class="col-2 border">3</div>
    <div class="col-3 border">4</div>
    <div class="col-3 border">5</div>
    
</div>


